* {
	vertical-align: baseline;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
    }
body{
    font-family: 'Lato', sans-serif;
    color: #666d89;
}    
.wrapper{
    max-width: 1020px;
    margin: 0 auto;
    padding: 0 40px;
    box-sizing: border-box;

}
header .wrapper{
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}
header{
    height: 95px;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
    box-sizing: border-box;
} 
.logo{
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
} 
.logo span{
    color: #e36861;
}
nav{
    position: relative;
}
.blog-navigation ul{
    display: flex;
    margin-top: 10px;
    list-style: none;
    
}    
.main-menu a{
    display: block;
    text-decoration: none;
    color: #ffffff;
    font-size: 12px;
    line-height: 12px;
    font-weight: bold;
    text-transform: uppercase;
}
.main-menu .active{
    color: #f06c64;}
.main-menu a:hover{
    color: #f06c64;
}
.main-menu span{
    margin: 0 12px;
    color: #535763;
}
.slider{
    position: relative;
    height: 600px;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
    box-sizing: border-box;
}
.slider .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 53px;
    padding-bottom: 58px;
}
.left-nav{
    width: 16px;
    height: 27px;
    background-image: url(assets/chev2.png);
    background-repeat: no-repeat;
    cursor: pointer;
    
}
.right-nav{
    width: 16px;
    height: 27px;
    background-image: url(assets/chev.png);
    background-repeat: no-repeat;
    cursor: pointer;
}
.img-vertical{
    position: relative;
    right: 7px;
}
.img-horizontal{
    position: relative;
    left: 5px;
}
.left-nav:hover{
    background-image: url(assets/chev2-hover.png);
    background-repeat: no-repeat;
}
.right-nav:hover{
    background-image: url(assets/chev-hover.png);
    background-repeat: no-repeat;
}
.service{
    height: 100%;
    padding-top: 60px;
    padding-bottom: 31px;
    border-bottom: 5px solid #ffffff;
    background-color: #f2f2f2;
}

h1{
    font-size: 30px;
    font-weight: 900;
    padding-bottom: 16px;

}
.text-service{
    padding-bottom: 44px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
}
.service-items{
    display: flex;
    margin-bottom: 33px;
}
.service-item{
    display: flex;
}
.service-items h2{
    padding-bottom: 9px;
    font-size: 18px;
    font-weight: 800;
}
.service-info{
    margin-right: 26px;
}
.service-info p{
    width: 218px;
    font-size: 12px;
    line-height: 20px;
    text-align: justify;
}
.service-item img{
    padding-right: 16px;
    padding-top: 3px;
}
.portfolio-items{
    height: 100%;
    padding: 5px 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
} 
.portfolio{
    padding-top: 60px;
    padding-bottom: 55px;
    background-color: #2d303a;
    border-bottom: 5px solid #323746;
}
.portfolio .wrapper{
    max-height: 750px;
    overflow: hidden;
}
.img-portfolio{
    padding-top: 9px;
}
h2{
    padding-bottom: 18px;
    font-size: 30px;
    font-weight: 900;
}
.text-portfolio{
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
} 
.nav-portfolio{
    padding-top: 10px;
} 
.btn-tag{
    padding: 3px 5px;
    margin-right: 8px;
    font-size: 12px;
    color: #767e9e;
    letter-spacing: 0.0005em;
    background-color: transparent;
    border: 1px solid #767e9e;
    border-radius: 5px;
    cursor: pointer;
}
.btn-tag.active, .btn-tag:hover{
    color: #dedede;
    border: 1px solid #dedede; 
}
.about-us{
    padding-top: 60px;
    padding-bottom: 67px;
    background-color: #f2f2f2;
    border-bottom: 5px solid #ffffff;
}
.text-about-us{
    padding-bottom: 44px;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    
}
.about-us h2{
    text-transform: capitalize;
}
.portfolio-items img{
    padding: 5px 0px 5px 0;
}
.photo-col, .photo-info{
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between; 
}
.photo-discription{
    max-width: 300px;
}
.border-circle{
    width: 30px;
    height: 30px;
    margin-right: 8px;
    line-height: 30px;
    border-radius: 50%;
    text-align: center;
    border: 1px solid #767e9e;
    cursor: pointer;
}
.border-circle:hover{
    background-color: #ffffff;
}

.photo-info .social-icon{
    display: flex;
    padding-top: 27px;
}
.photo-name{
    padding-top: 16px;
    font-size: 18px;
    font-weight: 900;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.photo-text{
    padding-top: 10px;
    font-size: 12px;
    line-height: 18px;
}
.forma{
    padding-top: 56px;
    padding-bottom: 10px;
    background-color: #f06c64;
    color: #f0d8d9;
    border: 5px solid #ea676b;
}
.forma-text{
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
}
.forma-contact{
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between; 
}
.adress{
    padding-top: 42px;
    padding-left: 21px;
}
.adress h3{
    padding-bottom: 8px;
    font-size: 18px;
    font-weight: 900;
}
.adress-text{
    padding-bottom: 22px;
    font-size: 12px;
    line-height: 21px; 
}
form{
    padding-top: 34px;
    width: 620px;
}
input{
    width: 590px;
    height: 38px;
    margin: 8px 0;
    padding: 0 15px;
    border-radius: 5px;
    background-color: #d6564f;
    color: #f48c8f;
    
}
input::placeholder, textarea::placeholder{
    color: #f48c8f;
    font-size: 12px;
}
input:focus:invalid,
textarea:focus:invalid{
    border:solid 2px #F5192F;
}

input:focus:valid,
textarea:focus:valid{
    border:solid 2px #18E109;
    background-color:#fff;
}
textarea{
    width: 590px;
    height: 181px;
    padding: 10px 15px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #d6564f; 
    resize: none;
}
.forma-contact button{
    width: 120px;
    height: 38px;
    margin: 8px 0;
    padding: 0 15px;
    border-radius: 5px;
    background-color: #d6564f;
    color: #f0d8d9;
    cursor: pointer;
}
.icon{
    font-size: 12px;
    line-height: 22px;
}
.icon img{
    padding-right: 9px;
}
.icon img:first-child{
    padding-left: 2px;
}
.icon a{
    text-decoration: none;
    color: #f0d8d9;
}
footer{
    height: 75px;
    background-color: #2d303a;
    
}
footer .copyright{
    font-size: 12px;
}
footer .wrapper, footer .social-icon{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .border-circle{
    margin-right: 0;
    margin-left: 8px;
}